.position {
    position: relative;
}

.font-ability {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    opacity: 1;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    text-transform: none;
    padding-bottom: 0;
    padding-top: 0;
    mix-blend-mode: normal;
    font-style: normal;
    white-space: nowrap;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: auto;
    margin-top:-9.1px;
}

.font-skill {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    height: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    text-transform: none;
    padding-bottom: 0;
    padding-top: 0;
    mix-blend-mode: normal;
    font-style: normal;
    white-space: nowrap;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: auto;
    margin-top:-7.5px;
}

.c1 {
    left:7.563%;
}
.c2 {
    left:37.8151%;
}
.c3 {
    left:68.0672%;
}

.ck1 {
    left:5.042%;
}
.ck2 {
    left:35.2941%;
}
.ck3 {
    left:65.5462%;
}

.cd1{
    left:6.0504%;
}

.cd2{
    left:36.3025%;
}

.cb1{
    left:6.0384%;
}

.cb2{
    left:36.2905%;
}

.ce1{
    left:65.042%;
}

.ce2{
    left:81.6807%;
}



.l1 {
    top:10.2921%;
}
.l2 {
    top:12.4301%;
}
.l3 {
    top:14.5682%;
}

.l4 {
    top:23.0544%;
}
.l5 {
    top:25.1924%;
}
.l6 {
    top:27.3304%;
}

.lk1 {
    top:38.9015%;
}
.lk2 {
    top:41.0395%;
}
.lk3 {
    top:43.1776%;
}
.lk4 {
    top:45.3157%;
}
.lk5 {
    top:47.4538%;
}
.lk6 {
    top:49.5919%;
}
.lk7 {
    top:51.73%;
}
.lk8 {
    top:53.8681%;
}
.lk9 {
    top:56.0062%;
}

.ld1 {
    top:61.0015%;
}
.ld2 {
    top:62.902%;
}
.ld3 {
    top:64.8025%;
}
.ld4 {
    top:66.7029%;
}
.ld5 {
    top:68.6034%;
}
.ld6 {
    top:70.5039%;
}

.ld7 {
    top:73.8298%;
}
.ld8 {
    top:75.7303%;
}
.ld9 {
    top:77.6307%;
}
.ld10 {
    top:79.5312%;
}
.ld11 {
    top:81.4317%;
}
.ld12 {
    top:83.3322%;
}


.lb1 {
    top:87.2451%;
}
.lb2 {
    top:89.3832%;
}
.lb3 {
    top:91.5212%;
}
.lb4 {
    top:93.6592%;
}
.lb5 {
    top:95.7972%;
}

.le1 {
    top:78.6946%;
}
.le2 {
    top:84.0397%;
}
.le3 {
    top:89.3848%;
}
.le4 {
    top:94.7299%;
}